// -----------------------------------------------------------------------------
// Online Payments page styling
// -----------------------------------------------------------------------------

body:has(#Menu_Item_ID[value="307"]) {
  .page-title {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
    font-size: 26px !important;
  }

  #fs7485 {
    display: none;
  }
}

#fs7486 {
  padding-top: 10px;
  padding-bottom: 20px;
}
