// -----------------------------------------------------------------------------
// Base reset
// -----------------------------------------------------------------------------

* {
  box-sizing: border-box;
}

img,
iframe,
svg,
video,
table {
  max-width: 100%;
}

body {
  background-color: #fff;
}
